# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs & outputs
logs/
output/

# Sample data you don’t want in Git LFS
*.npy
*.npz
*.h5
